<!DOCTYPE html>
<html lang="en"> 

{% load static %}

  <head>
    {% block head_tag %} {% endblock %}
      <!-- Favicon-->
      <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

      {% block css %}
    <!-- FontAwesome JS-->
    <script type="text/javascript" src="{% static 'assets/fontawesome/js/all.min.js' %}"></script>

    <!-- other -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ace.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ace.min.js"></script>
    
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" type="text/css" href="{% static 'assets/css/theme-1.css' %}">
      {% endblock %}

  </head>

	<body>

		{% block body %} {% endblock %}

    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'assets/plugins/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/blog.js' %}"></script>

<script>
  function initEditor(id, mode) {
    var el = document.getElementById(id);
    if (!el) return;
    var editor = ace.edit(id);
    editor.setTheme("ace/theme/tomorrow_night");
    editor.session.setMode("ace/mode/" + mode);
    el.style.fontSize = '14px';
    el.style.fontFamily = 'Courier,monospace';
    editor.setReadOnly(true);
    editor.setOptions({ maxLines: Infinity });
  }

  initEditor("editor1",  "rust");
  initEditor("editor2",  "rust");
  initEditor("editor3",  "rust");
  initEditor("editor4",  "rust");
  initEditor("editor5",  "rust");
  initEditor("editor6",  "rust");
  initEditor("editor7",  "rust");
  initEditor("editor8",  "rust");
  initEditor("editor9",  "rust");
  initEditor("editor10", "rust");
  initEditor("editor11", "rust");
  initEditor("editor12", "rust");
  initEditor("editor13", "rust");
  initEditor("editor14", "rust");
  initEditor("editor15", "rust");
  initEditor("editor16", "rust");
  initEditor("editor17", "sh");
</script>

	</body>

</html>