{% extends 'general/base.html' %}

{% load static %}

{% block head_tag %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Storage in Kubernetes" />
  <meta name="keywords" content="Kubernetes, storage, DevOps, cloud, containers">
  <title>Storage in Kubernetes</title>
{% endblock %}

{% block body %}

{% include 'general/side_navbar.html' %}

<div class="main-wrapper">
      
  <article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
      <header class="blog-post-header">
        <h2 class="title mb-2">Storage in Kubernetes</h2>
        <div class="meta mb-3"><span class="date">April 2026</span><span class="time">3 min read</span></div>
      </header>

      <div class="blog-post-body">

        <h3 class="mt-5 mb-3">Container Storage Interface (CSI)</h3>

        <p>While Kubernetes was originally designed for stateless applications, the demand for statefulness led to the introduction of the Container Storage Interface (CSI).</p>

        <p>CSI is meant to abstract how containers interact with various storage systems. Before CSI, various storage vendors needed to develop their own drivers and bake them into K8s source code which meant that the latest features for a storage solution would be coupled to a K8s release containing those latest changes.</p>

        <p>With the emergance of CSI; which is an <a href="https://github.com/container-storage-interface/spec" target="_blank">API specification</a>, <a href="https://kubernetes-csi.github.io/docs/drivers.html" target="_blank">drivers</a> implementing the CSI specs can be used in orchestrators like K8s.</p>

        <p>On the cluster, the CSI has the controller on the control plane and the node plugin on each node. The controller; which can be deployed as a <code>Deployment</code> or a <code>StatefulSet</code>, handles managing storage resources such as volume creation, deletion, snapshots, etc. And the node plugin; which is deployed as a <code>DaemonSet</code>, handles node-level operations like mounting/unmounting volumes on specific nodes.</p>

        <h3 class="mt-5 mb-3">More about volumes</h3>

        <p>At DC, we have the ONTAP-NAS <code>StorageClass</code> installed by the cluster admin. This is a storage solution from NetApp Trident which provides storage for apps hosted on the cluster in the form of shared file storage via NFS or SMB protocols.</p>

        <p>The different storage access modes we've seen include:</p>

        <ul>
          <li>ReadWriteOnce (RWO) - read-write by a single node</li>
          <li>ReadWriteMany (RWX) - read-write by multiple nodes simultaneously</li>
        </ul>

        <p>Volumes are usually defined in a <code>Deployment</code> template and are mounted into containers. A volume can point to a <code>configMap</code> resource or can hold application source code, it can also point to <code>secret</code> resources. Another volume type is <code>hostPath</code> which points at the node's filesystem making the pod dependent on the node it lives on. If the volume does not point to persistent storage, data on it is ephemeral. An example of an ephemeral volume type is <code>emptyDir</code>.</p>

        <p>A PersistentVolumeClaim (PVC) is a storage request that specifies what the workload or app needs for eg. size, access mode and storage class. It defines a specific <code>StorageClass</code> that determines which storage backend to use. This request is evaluated by the control plane against available PVs and if suitable, the claim is bound.</p>

        <p>The image below describes a simple storage provisioning process.</p>

        <div style="text-align: center;">
          <img class="img-fluid" width="70%" src="{% static 'assets/images/storage_in_k8s/volumes.jpeg' %}" alt="image">
        </div>

        <p>At DC, PVs are provided dynamically i.e. they are created on-demand when a PVC is submitted.</p>

        <p>In terms of backups, there exists some Custom Resource Definitions (CRDs) that can be used (see below). The snapshot controller watches these resources and triggers creating or deleting a snapshot against a CSI endpoint.</p>

        <ul>
          <li><code>VolumeSnapshotClass</code> defines parameters such as the CSI driver used plus additional settings.</li>
          <li><code>VolumeSnapshot</code> - is a request that is typically created by the user per namespace. It uses a <code>PersistentVolumeClaim</code> as a data source for the snapshot.</li>
          <li><code>VolumeSnapshotContent</code> - is a request for a snapshot taken from a volume in the cluster that was provisioned by an admin.</li>

        <br>
      </div>
    </div><!--//container-->
  </article>
      
  <section class="cta-section theme-bg-light py-5">
  <div class="container text-center">
    <h2 class="heading">Another Rust blog</h2>
    <div class="intro">(with the occasional DevOps article) 😬</div>
    <div class="single-form-max-width pt-3 mx-auto">
    {% include 'general/subscriber_form.html' %}
    </div><!--//single-form-max-width-->
  </div><!--//container-->
  </section>
    
</div><!--//main-wrapper-->

    
{% endblock %}

